    GLOBAL_SETTINGS
    REGISTRY 2n11
    GRADE_CONTAINER client
    HOST_HOME_XFER labtainer_xfer/
    LAB_MASTER_SEED sshlab_jkhosali_master_seed
NETWORK SOME_NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.100
CONTAINER victim
     USER ubuntu
     X11 NO
     TERMINALS 0
     SOME_NETWORK 172.20.0.3
CONTAINER attacker
     USER ubuntu
     X11 NO
     SOME_NETWORK 172.20.0.2
